 <!-- Form -->
 <form action="/" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="Name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="First Name">
        </div>
        <div class="form-group">
             <label for="Email" class="text-light">Email</label>
             <input type="text" name="email" value="" placeholder="example@gmail.com">
        </div>
        <div class="form-group">  
             <label for="Gender" class="text-light">Gender</label>
             <div class="radio inline">
                 <input type="radio" id="Male" name="Gender" value="Male">
                 <label for="Male" class="radio-label">Male</label>
             </div> 
             <div class="radio inline">
                 <input type="radio" id="Female" name="Gender" value="Female">
                 <label for="Female" class="radio-label">Female</label>
             </div>  
        </div>

        <div class="form-group">  
             <label for="Status" class="text-light">Status</label>
             <div class="radio inline">
                 <input type="radio" id="Active" name="Status" value="Active">
                 <label for="Active" class="radio-label">Active</label>
             </div> 
             <div class="radio inline">
                 <input type="radio" id="Inactive" name="Status" value="Inactive">
                 <label for="Inactive" class="radio-label">Inactive</label>
             </div>  
         </div>

         <div class="form-group">
             <button type="submit" class="btn text-dark update">Save</button>
         </div>
    </div>
 </form>
 <!-- Form ends-->